@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "bootstrap/dist/css/bootstrap.min.css"; */

@import "react-slideshow-image/dist/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  color: #272a31;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 550px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
